[submodule "MapsetVerifierBackend"]
	path = MapsetVerifierBackend
	url = https://github.com/rorre/MapsetVerifierBackend
[submodule "MapsetParser"]
	path = MapsetParser
	url = https://github.com/Naxesss/MapsetParser
[submodule "MapsetVerifierFramework"]
	path = MapsetVerifierFramework
	url = https://github.com/rorre/MapsetVerifierFramework
